.Section-container-9 {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Footer {
  width: 100%;
  height: 100%;
}
.footer-top-part {
  width: 100%;
  height: 50%;
  border-top: 1px solid #ffffff4c;
  display: flex;
  justify-content: space-between;
  padding: 2vw 8vw;
}
.footer-top-part > h1 {
  font-size: 5vw;
}
.footer-top-right a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  border: 1px solid #fff;
  padding: 0.4rem 0.7rem;
  border-radius: 50rem;
  transition: 0.3s all ease-in;
}
.footer-top-right a:hover {
  background-color: #fff;
  color: #000;
}
.footer-top-right h5:nth-of-type(1) {
  color: #ffffffa9;
  margin-bottom: 1rem;
}
.footer-top-right h5:nth-of-type(2) {
  color: #ffffffa9;
  margin-top: 3rem;
}
.footer-top-right h5:nth-of-type(3) {
  color: #fff;
  font-size: 2.5rem;
  margin-top: 1rem;
}
.footer-bottom-part {
  width: 100%;
  height: 50%;
}
.footer-ul-container {
  border-bottom: 1px solid #ffffff54;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.footer-ul-container h5 {
  color: #ffffff7e;
  font-size: 1rem;
}
.footer-ul-container li {
  padding-top: 1rem;
  font-size: 0.9rem;
  list-style: none;
}
.our-social-account {
  display: flex;
  flex-direction: column;
}
.our-social-account a {
  padding-top: 0.7rem;
  color: #fff;
  text-decoration: none;
}
.bottom-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.bottom-footer h1 {
  font-size: 0.9rem;
  color: #ffffffd5;
  letter-spacing: 0.05rem;
}
.bottom-footer span {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .footer-top-right h5:nth-of-type(3) {
    font-size: 4vw;
  }
  .footer-top-part {
    padding: 3vw 5vw;
  }
}

@media only screen and (max-width: 524px) {
  .footer-top-part {
    flex-direction: column;
    align-items: center;
  }
  .footer-top-part h1 {
    width: 100%;
    font-size: 8vw;
  }
  .footer-top-right {
    width: 100%;
    text-align: end;
  }
  .footer-ul-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
    padding-top: 3rem;
    gap: 3rem;
    text-align: center;
}
.bottom-footer{
  padding: 1rem;
}
.bottom-footer h1 {
  font-size: 2.5vw;
}
.bottom-footer span {
  width: 35%;
}


}
